body{
    margin: 0;
    background-color: #056679 ;
    font-family: sans-serif;
}
.todo-container{
    width: 350px;
    margin: auto;
    margin-top:70px ;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align:center ;
}
h1{
    margin: 0;
    margin-bottom: 15px;

}
.input-section{
    background-color: #ececec;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 4px 6px #00000066;


}
.input-section input{
    border-radius: 5px;
    border: 1px solid rgb(226,226,226);
    width: 100%;
    padding: 10px;
    box-sizing: border-box ;
}
input::placeholder{
    color: silver;
}
ul{
   
    text-align: left;
    padding: 0;
}
ul li{
    display: flex;
    list-style: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 3px;
    color: grey;
    box-shadow: 0 4px 6px #00000066;
}
ul li i{
    cursor: pointer;
    text-align: right;
    flex: 1;
}